<div class="page" data-name="home2">

    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <a href="/noti/"><img src="img/noti.png" height="50px"/></a>
        <div class="center">
          <div class="title" style="text-align: center;">Rys de Puebla</div>
        </div>
        <a href="/calenda/"><img src="img/calenda.png" height="50px"/></a>
      </div>
      </div>
  


<div class="page-content"> 
<div style="padding: 10px 10px 0 10px;"> <!--Margen-->
  <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper" style="height: 200px;">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/rys.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/1-Slide-1.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/2-Slide-2.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/2-Slide-5.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/5-Slide-6.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/9-Slide-9.jpg" width="100%" /></div>
        <div class="swiper-slide"><img src="img/10-Slide-4.jpg" width="100%" /></div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="center" style="width: 40%; padding-bottom: 20px; float: left;" >
    <a href="*"><button class="col button button-fill color-gray" >Entrada</button></a>
    </div>
    <div class="center" style="width: 40%; padding-bottom: 20px; float: left;" >
    <a href="/bitacora/"><button class="col button button-fill color-red" >Salida</button></a>
  </div>
</div>

<div class="row" >
  <div class="center" style="width: 60%; padding-bottom: 20px;" >
  <a href="/inspeccion/"><button class="col button button-small button-outline color-blue" >Ingresar la inspeccion</button></a>
</div>
</div>

<div class="row" >
  <div class="center" style="width: 60%; padding-bottom: 20px;" >
  <a href="/retrabajo/"><button class="col button button-small button-outline color-blue">Ingresar el retrabajo</button></a>
</div>
</div>

<div class="row"  >
  <div class="center" style="width: 80%; padding-bottom: 20px;" >
 <a href="/nueva/"><button class="col button button-large button-fill color-blue" style="height: 50px;">Ingresar NUEVO numero de parte</button></a> 
</div>
</div>

<div class="row" >
  <div class="center" style="width: 90%; padding-bottom: 20px;" >
  <button class="col button button-outline button-round button-raised color-gray">Datos personales</button> 
</div>
</div>

  <div class="row" style="padding: 0px 20px 20px 20px;">
    
    <button class="col button button-fill color-gray" >Cerrar Sesion</button>
  </div>
  </div>


</div>