<div class="page" data-name="inspeccion">

    <!-- Static Navbar -->
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
              <a class="link back">
                <i class="icon icon-back"></i>
                <span class="if-not-md">Back</span>
              </a>
            </div>  
          <div class="title">Registro de piezas</div>
          <div class="right"></div>
        </div>
      </div>
  

<div class="page-content"> 

    
        <h4 style="text-align: center;">Selecciona el numero de parte</h4>
        

<div class="row text-align-center" style="padding: 0px 90px 0px 90px;">
    <div class="item-content item-input">
        <div class="item-inner">
          <div class="item-input-wrap input-dropdown-wrap">
            <select placeholder="Please choose...">
              <option value="Male">Numero de Pieza</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
      </div>

</div>


      
        <h4 style="text-align: center;">Piezas inspeccionadas</h4>        
     
        <div class="row text-align-center">
          <div class="col">
            <div class="stepper stepper-fill stepper-init" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true" data-decimal-point="2" data-manual-input-mode="true">
              <div class="stepper-button-minus"></div>
              <div class="stepper-input-wrap">
                <input type="text" value="0" min="0" max="1000" step="1">
              </div>
              <div class="stepper-button-plus"></div>
            </div>
        </div>
      </div>

      
        <h4 style="text-align: center;">Piezas OK</h4>
      
     
        <div class="row text-align-center" >
          <div class="col">
            <div class="stepper stepper-fill stepper-init" data-wraps="true" data-autorepeat="true" data-autorepeat-dynamic="true" data-decimal-point="2" data-manual-input-mode="true">
              <div class="stepper-button-minus"></div>
              <div class="stepper-input-wrap">
                <input type="text" value="0" min="0" max="1000" step="1">
              </div>
              <div class="stepper-button-plus"></div>
            </div>
          </div>
    
      </div>

 
<div class="row" style="padding: 20px 80px 20px 80px;" >
    <a href="/scrap/" class="col button button-outline button-round button-raised color-red">Ingresar SCRAP</a> 
  </div>

  <div class="row" style="padding: 20px 80px 20px 80px;" >
    <a href="/home2/" class="col button button-outline button-round button-raised color-green">Terminar</a> 
  </div>

 
  </div>


</div>