<div class="page" data-name="registro">

  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>  
      <div class="title">Registro</div>
      <div class="right"></div>
    </div>
  </div>

<div class="page-content">
    
    <div class="block"> <!--PARA HACER UN MARGEN-->
  
          
    <div class="row" style="padding-top: 10px;">
      <div class="center"  style="width: 80%;">
      <h4 style=" margin: 0px;">ID Empresarial</h4>
      <input style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;" type="text" name="idempre" id="idempre" placeholder="Ingresa tu ID empresarial">
      <h6 style="margin: 0px; text-align: center;">Es un numero unico el cual te debe de dar tu empresa para poder ingresar</h6>  
    </div>
    </div>

    <div class="row" style="padding-top: 10px;">
      <div class="center"  style="width: 80%;">
      <h4 style=" margin: 0px;">Nombre</h4>
      <input  style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;"type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
      </div>
    </div>

    <div class="row" style="padding-top: 10px;">
      <div class="center"  style="width: 80%;">
      <h4 style=" margin: 0px;">Apellidos</h4>
      <input style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;" type="text" name="apellidos" id="apellidos" placeholder="Ingresa tus apellidosos">
      </div>
    </div>

    <div class="row"  style="padding-top: 10px;">
      <div class="center"  style="width: 80%;">
        <h4 style=" margin: 0px;">Telefono</h4>
        <input style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;" type="text" name="telefono" id="telefono" placeholder="Ingresa tu telefono">
        </div>
      </div>

      <div class="row" style="padding-top: 10px;">
        <div class="center"  style="width: 80%;">
        <h4 style=" margin: 0px;">Usuario</h4>
        <input style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;" type="usuario" name="usuario" id="usuarior" placeholder="Ingresa tu usuario">
        </div>
      </div>

      <div class="row" style="padding-top: 10px;">
        <div class="center"  style="width: 80%;">
        <h4 style=" margin: 0px;">Password</h4>
        <input style="text-align: center; border: gray solid 0.5px; border-radius: 5px; width: 100%; font-size: 18px;" type="text" name="password" id="passwordr" placeholder="Ingresa tu password">
        </div>
      </div>


    <div class="row" style="margin-top: 20px;">
      <div class="col" >
        <button class="col button button-fill" onclick="Registrarse()">Registrarse</button>
      </div>

    </div>

</div>   
</div>
</div>